# defualt
numpy
pandas
opencv-python
scipy
scikit-image
matplotlib
scikit-learn
tqdm
seaborn

# tensorflow
tensorflow==2.18

# torch
torch
torchvision
torchaudio

# Whisper
faster-whisper

# mistralai
vllm
mistral_common
ipywidgets

# vosk
vosk